<div class="overall_container">
  <h1 class="text-center">Cocktail Stories</h1>
  <div class="cards_container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="outer-container">
              <div class="body-container">
                <div class="card-description">
                  <h2><%= cocktail.name %></h2>
                  <ul>
                    <% cocktail.ingredients.each do |ingredient| %>
                      <li><%= ingredient.name %></li>
                    <% end %>
                  </ul>
                </div>
                <div class="card-image">
                  <%= image_tag "image.jpg", width: 270, height: 190 %>
                </div>
              </div>
              <div class="foot">
                <p>
                  <%= link_to 'Read story', cocktail_path(cocktail) %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
