<div class="backdrop">
  <h1 class="text-center home_h1">Cocktails Stories</h1>
  <h2 class="text-center home_h2">Because a great story always starts with cocktails.</h2>
  <div class="link-group">
    <%= link_to "View Cocktail Stories", cocktails_path, class: "btn menu" %>
    <%= link_to "Add Your Cocktail Story", new_cocktail_path, class: "btn menu" %>
  </div>
</div>

