.banner {
  height: 85vh;
  background: url("http://saltandwind.com/media/_versions/recipes/150206_cucumber-ginger-mojito-cocktail-recipe_h_large.jpg");
  background-size: cover;
  background-position: center;
}
