.card {
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  height: 250px;
  h2 {
    font-size: 22px;
  }
  li {
    font-family: "Montserrat";
    font-size: 17px;
    margin-top: 0px;
  }
  p {
    font-family: "Montserrat";
    font-size: 17px;
    margin-top: 0px;
  }
}
