.card {
  background-color: white;
  margin-top: 30px;
  height: 275px;
  h2 {
    font-size: 22px;
  }
  li {
    font-family: "Montserrat";
    font-size: 17px;
    margin-top: 0px;
  }
  p {
    font-family: "Montserrat";
    font-size: 17px;
    margin-top: 0px;
  }
  .card-description {
    width: 270px;
    height: 190px;
  }
  .body-container {
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .foot {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-top: 2px dotted #F4F4F4;
    display: flex;
    justify-content: space-between;
  p {
    margin-bottom: 0px;
  }
  }
}

.content_container {
  padding: 20px;
  height: 225px;
  h3 {
    margin-top: 5px;
  }
}

.back-link {
  margin-top: 25px;
  margin-bottom: 0px;
}
