.form {
  background-color: white;
  padding: 50px;
  margin-top: 30px;
  font-family: "Montserrat";
  font-size: 20px;
  .btn {
    margin-top: 30px;
  }
}

.overall-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .form-control {
    width: 80%;
    text-align: center;
    margin-right: 0px;
    margin-left: 32px;
    padding-right: 0px;
    padding-left: 0px
  }

  input {
    width: 80%;
    text-align: center;
  }

  abbr {
    display: none;
  }
}
